{% extends "mainApp/wrapper.html" %}

{% block title %}About us title{% endblock %}

{% block content %}
<div class="features">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate deserunt minima nisi suscipit? A amet, asperiores atque autem cupiditate dolorum exercitationem, mollitia nam odio odit quaerat, saepe sunt voluptas? Asperiores atque culpa exercitationem laudantium natus pariatur quas soluta voluptatum?</p>
        <button class="btn btn-danger">Click me</button>
    </div>
{% endblock %}
